<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>Servlet1</servlet-name>
		<servlet-class>guestbook.GuestbookServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Servlet1</servlet-name>
		<url-pattern>/guestbook</url-pattern>
	</servlet-mapping>
	
	<servlet>
        <servlet-name>createss</servlet-name>
        <servlet-class>guestbook.CreateStreamServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>createss</servlet-name>
        <url-pattern>/createStreamServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Sign</servlet-name>
        <servlet-class>guestbook.SignGuestbookServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Sign</servlet-name>
        <url-pattern>/sign</url-pattern>
    </servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>login.jsp</welcome-file>

	</welcome-file-list>
	<context-param>
	    <param-name>loginSuccessPage</param-name>
	    <param-value>/create.jsp</param-value>
	</context-param>
	<context-param>
	    <param-name>loginErrorPage</param-name>
	    <param-value>/error.html</param-value>
	</context-param>
</web-app>
